* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Calibri', sans-serif;
    color: #143774;
    background: #bfe8ff;
    opacity: 0.9;
}

/* table, h1, h2, tr, th, td, .banner {
    border: 1px dotted magenta;
} */

/* ========== TYPOGRAPHY ========= */

h1 {
    font-size: 4rem;
    color: #f8f8f8;
    margin: 0.15em auto;
}

h2 {
    font-size: 3rem;
    margin: 0 0 .8em;
}

h3 {
    font-size: 2.5rem;
}

h1, h2 {
    text-align: center;
}

p,
input.time-value,
input.limit-value {
    font-size: 2rem;
} 


/* ========== LAYOUT ========= */

header {
    background: #66C4FF;
    border: 1px dotted #fff;
}

/*****  LOGGER AREA  *****/

.request-measurement {
    max-width: 70%;
    margin: 4em 2em;
    display: flex;
    align-items: center;
    
    border-radius: 20px;
    background: #fff;
}

.request-measurement button {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: black;
    
    padding: .4em 1em;
    
    border: 1px solid #fcdf5f;
    border-radius: 20px;
    background: #fcdf5f;
}

#request-measurement-message {
    font-size: 1.1rem;
    color: #1792d2;
    
    margin-left: 1.5em;
    display: none;
}


/*****  TIMER AREA  ****/

#timers div {
    /* border: 1.7px dotted orange; */
}

section#timers {
    
    max-width: 50%;
    margin: 5em auto;
    /* border: 1px solid magenta; */
}

div#timer-static {
    margin-bottom: 1.5em;
    /* border: 3px dotted orange; */
}

div#container-timedata-with-edit{
    display: flex;
    align-items: center;
    /* border: 3px dotted orange; */
}

div.container-timedata {
    width: 80%;
    margin-top: .7em;
    padding: 0 30%;
    display: flex;    
    /* border: 3px dotted orange; */
}

div.container-values-units {
    text-align: center;
    margin: 0 .5em;
}

.container-values-units input.time-value{
    text-align: center;

    width: 2em;
    border-bottom: 2px solid black;
    padding-bottom: .2em;
}

.container-values-units p.time-unit {
    padding-top: .2em;
    opacity: 0.5;
}

.btn-timer {
    font-size: 1rem;
    height: 3em;
    width: 4em;
    border: none;
}

.btn-edit-timer {
    color: black;
    /* font-size: 1rem;
    height: 3em;
    width: 4em; */

    background: #fcdf5f;
    /* border: none; */
}

.btn-accept-timer,
.btn-reject-timer {
    display: none;
}

/* .slider-timer {
    border: 1px dotted red;
    
} */


/*****  LIMITS AREA  ****/

section#limits {
    font-size: 1.5rem;

    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

article.container-limits {
    display: flex;
    flex-direction: column;
}

div.limit {
    margin: .5em 0;
    padding-left: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fcdf5f;
}

p.limit-text {
    text-align: left;
    width: 70%;
}

div.container-limit-values {
    color:#fcdf5f;

    width: 40%;
    /* margin-left: 1.5em; */
    padding: .5em .8em;
    display: flex;
    justify-content: space-between;

    background: black;
}

input.limit-value {
    color: #fcdf5f;
    max-width: 40%;

    border: 2px dotted white;
}

.btn-limit {
    color: black;
    padding: 0 1em;
    background: #fcdf5f;
}

.btn-limit-accept,
.btn-limit-reject {
    display: none;
}


/*****  MEASUREMENTS and WARNINGS AREA *****/

.container-warnings {
    display: none;
}

table {
    width: 100%;
    margin-top: 1em;
}

tbody {
    margin: 0 100px;
    padding: 0 100px;
}

tr {
    background: #66C4FF;
}

th {
    font-size: 1.8rem;
    color: beige;
    padding: 0.2em;
    background: #143774;
}

td {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 5px;
}

.sticky {
    position: sticky;
    top: 0;
}

.container-slider p {
    font-size: 1.5rem;
    color: black;
    margin: .5em .5em;
}

.has-warning {
    background: #F8D0D2;
}

.table-head-warnings {
    color: black;
    background: #EB8A8C;    
}

.title-warnings {
    color: #EB8A8C;
}

/* =====  SPECIAL ELEMENTS  ===== */

/*****  SLIDERS  *****/

.container-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/** make standard checkbox disappear **/
input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.decorator + label {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.decorator + label::after  {
    content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	top: 3px;
	left: 4px;
	transition: .5s;    
}

.decorator:checked + label {
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.decorator:checked + label::after{
    transform: translate(18px);
}


/*****  SLIDER TIMER  *****/

.container-slider-timer {
    justify-content: center;
}

.decorator-slider-timer + label {
    background-color: #fcdf5f;
}

.decorator-slider-timer + label::after {
    background-color: black;
    opacity: 70%;
}

.decorator-slider-timer:checked + label {
    background-color: gray;
    opacity: 70%;
}

.decorator-slider-timer:checked + label::after {
    /* background-color: black; */
}


/*****  SLIDER TABLE  *****/

.container-slider-table {
    position: relative;
    top: 1.5em;
    margin-top: 3em;
    padding-left: 1em;    
}

.decorator-slider-table + label {
    background-color: lightcyan;
}

.decorator-slider-table + label::after {
    background-color: #1792d2;
}

.decorator-slider-table:checked + label {
    background-color: #ffcece;
}

.decorator-slider-table:checked + label::after {
    background-color: #f08080;
}
/****/


/***** make arrows for number inputs disappear *****/
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}