body {
    margin: 0;
    font-size: 16px;
    font-family: 'Calibri', sans-serif;
    color: #143774;
    background-color: #f8f8f8;
}

/* table, h1, h2, tr, th, td, .banner {
    border: 1px dotted red;
} */

/* Typography */

h1 {
    font-size: 4rem;
    color: #143774;
}

h2 {
    font-size: 3rem;
}

th {
    font-size: 1.8rem;
    background: #143774;
    color: beige;
}

td {
    font-size: 1.5rem;
}

header, tr {
    background: #fff;
}

/* Layout */

h1 {
    margin: 0.15em auto;
}

h2 {
    margin: 1.5em 0 .8em;
}

h1, h2, td {
    text-align: center;
}

th {
    padding: 0.2em;
}

header {
    border: 1px dotted #fff;
}

.request-measurement {
    background: #fff;
    margin: 4em 2em;
    max-width: 45%;
    display: flex;
    align-items: baseline;
    border-radius: 20px;
}

.request-measurement button {
    font-size: 1.2rem;
    color: beige;
    background: #1792d2;
    padding: .4em 1em;
    border-radius: 20px;
}

.request-measurement p {
    color: #1792d2;
    font-size: 1.1rem;
    margin-left: 1.5em;
    display: none;
}

table {
    margin-top: 1em;
    width: 100%;
    /* margin-top: 1em; */
    margin-right: 2em;
}