* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Calibri', sans-serif;
    color: #143774;
    background: #bfe8ff;
    opacity: 0.9;
}

/* table, h1, h2, tr, th, td, .banner {
    border: 1px dotted magenta;
} */

/* Typography */

h1 {
    font-size: 4rem;
    color: #f8f8f8;
}

h2 {
    font-size: 3rem;
}

#slider-container p {
    font-size: 1.5rem;
    color: black;
}

th {
    font-size: 1.8rem;
    background: #143774;
    color: beige;
}

td {
    font-size: 1.5rem;
}

header, tr {
    background: #66C4FF;
}

section#parameters {
    font-size: 1.5rem;
}

/* Layout */

h1 {
    margin: 0.15em auto;
}

h2 {
    margin: 0 0 .8em;
}

h1, h2, td {
    text-align: center;
}

th {
    padding: 0.2em;
}

header {
    border: 1px dotted #fff;
}

.request-measurement {
    margin: 4em 2em;
    max-width: 70%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #fff;
}

.request-measurement button {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: black;
    background: #fcdf5f;
    padding: .4em 1em;
    border-radius: 20px;
    border: 1px solid #fcdf5f;
}

#request-measurement-message {
    color: #1792d2;
    font-size: 1.1rem;
    margin-left: 1.5em;
    display: none;
}

section#parameters {
    margin: 0 12%;
    display: flex;
    justify-content: space-between;
}

article.container-parameters {
    display: flex;
    flex-direction: column;
}

div.parameter {
    /* border: 1px solid magenta; */
    margin: .5em 0;
    padding-left: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-parameter-values {
    /* border: 1px solid magenta; */
    margin-left: 1.5em;
    padding: .5em .2em;
    display: flex;
}

p.parameter-value {
    margin-left: 1em;
    margin-right: 1em;
    
}

#parameters button {
    padding: 0 1em;
}

.container-warnings {
    display: none;
}

table {
    margin-top: 1em;
    width: 100%;
}

tbody {
    margin: 0 100px;
    padding: 0 100px;
}

td {
    padding: 0 5px;
}

.sticky {
    position: sticky;
    top: 0;
}

/**** Style ****/

section#parameters {
    /* background: #143774; */
    color: black;
}

article.container-parameters {
    
}

div.parameter {
    background: #fcdf5f;
}

div.container-parameter-values {
    background: black;
    color:#fcdf5f;
}

p.parameter-value {
    
}

#parameters button {
    background: black;
    color:#fcdf5f;
}
/*** Slider checkbox ***/
#slider-container {
    /* border: 2px solid magenta; */
    position: relative;
    top: 1.5em;

    margin-top: 3em;
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#slider-container p {
    margin: .5em 1em;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.decorator + label {
    /* border: 2px solid magenta; */
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: lightcyan;
}

.decorator + label::after  {
    /* border: 2px solid magenta; */
    content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	top: 3px;
	left: 4px;
	transition: .5s;
    background-color: #1792d2;
    
}

.decorator:checked + label {
    /* border: 2px solid purple; */
    background-color: #ffcece;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.decorator:checked + label::after{
    transform: translate(18px);
	background-color: #f08080;
}

.has-warning {
    background: #F8D0D2;
}

.table-head-warnings {
    background: #EB8A8C;
    color: black;
    
}

.title-warnings {
    color: #EB8A8C;
}


